@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


* {
    box-sizing: border-box;
}

html {
    color-scheme: light;
    color-scheme: light light;
    color-scheme: light dark;
    color-scheme: dark light;
    color-scheme: dark dark;
    color-scheme: dark;
}

body {
	margin: 0;
	padding: 0;
    color: #abcdef;
	background-color: #012345;
	font-family: Questrial;
}


#main {
	margin: auto;
	display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "header"
    "nav"
    "article"
    "footer";
}

header {
    grid-area: header;
	width: 100%;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 300px 12px 100px;
}

nav {
  /*  position: fixed;
    top: 0;
    left: 0;*/
    grid-area: nav;
	width: 100%;
/*    height: 20vh; */
    display: grid;
    align-items: center;
    border-bottom: 0px solid #F9690E;

}

nav .nav-item {
    display: inline;
    margin: 10px;
    padding: 0;
    font-size: 50px;
}

nav .nav-item:first-of-type {
    margin-left: 48px;
}

nav .nav-item a {
    color: white;
    text-decoration: none;
}

nav .nav-item a:hover {
    text-decoration: underline;
}

nav #more-drop-down-menu a:last-of-type:hover {
    text-decoration: none;
}

nav .nav-item a.active {
    text-decoration: underline;
    color: #F9690E;
}
/*
nav {
    grid-area: nav;
    margin: 0px auto; 
    width: 100%;
    right: 0;
    padding: 42px;
}
*/
ul { margin: 0; padding: 0; }
ol { margin: 0; padding: 0; }

ul li, ol li {
/*	list-style: none;
	padding: 0px; */
	font-weight: bold;
	text-decoration: none;
	font-size: 22px;
}

article {
	grid-area: article;
	margin: 0;
	padding: 0;
/*	background-color: #09f;
	color: #caf;
    text-align: center;*/
}

.modal-content {

	color: blue;
    font-size: 33px;
    background-color: #123456;
}

#modify { background-color: #00a; }
#delete { background-color: #a00; }

/*
a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}
*/
.checked {
    color: orange;
}


.loco {
    color: #caf;
    background-color: #358;
    font-weight: bold;
    /*font-size: 27px;*/
    text-decoration: none;  
    list-style: none;
    padding: 0;
    /*width: 77%;*/
    text-align: center;
}

.lien {
    display: block;
    color: #caf;
    background-color: #358;
    font-weight: bold;
    font-size: 27px;
    text-decoration: none;  
    list-style: none;
    padding: 2px;
    border-radius: 0;
    /*width: 77%;*/
    text-align: center;
}

.lien:hover {
    color: #359;
    background-color: #caf;
    cursor: pointer;
}

.loco:hover {
    color: #359;
    background-color: #caf;
    cursor: pointer;
}
/*
.chef {
    min-width: 300px;
    width: 256px;
    margin: 0;
    padding: 10px 20px;	
}

.container {
    display: inline;
}
*/
.jaba {
    display: inline-block;
    width: 345px;
    margin: 20px;
}

.fill {
	display: block;
}

.ticket {
    padding: 4vw;
	text-align: left;
	border: 0px solid black;
    border-radius: 1vw 1vw 0 0;
    text-decoration: none;
    text-decoration-thickness: 0;
}
.ticket:hover {
	color: #000;
}


textarea { height: 222px; }
input, textarea { /* [type="text"], input[type="password"] { */
    width: 100%;
    padding: 0;
}

input[type="password"] {
    cursor: none;
}

input[type="color"] {
    height: 66px;
    width: 100%;
}
input[type="submit"] {
	width: 100%;
    padding: 0;
    font-size: 6vw;
    background-color: blue;
    border: none;
    border-radius: 1vw;
    cursor: pointer;	
}
	
input[type="submit"]:hover {
	background-color: black;
	color: white;
}

footer {
    grid-area: footer;
    text-align: center;
    padding-top: 10vw;
}


#pad {
  width: 500px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .5rem;
}

.case span {
  display: flex;
  font-size: 44px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


/*
.box {
    width: 75%;
    margin: auto;
    padding: 1vw;
    text-align: center;	
}

.bof {
	background-color: #caf;
	color: #123456;
	width: 44vw;
	padding: 11vw;
	padding: 0;
    margin: auto;   
	border: 6vw solid #caf;
	border-radius: 11vw;
}
*/
strong { font-size: 7vw; }
h1 { text-align: center; font-size: 60px; }
h2 { text-align: center; font-size: 50px; }
h3 { text-align: center; font-size: 40px; }
h4 { text-align: center; font-size: 30px; }
h5 { text-align: center; font-size: 20px; }
h6 { text-align: center; font-size: 10px; }


img[class="petit"] { height: 111px; width: 176px; } 
img[class="moyenne"] { width: 100%; } 
img[class="grand"] { width: 100%; } 


img:hover {
  transform: scale(1.001); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/*
@media screen and (max-width: 654px) {
    ul { display: flex; justify-content: center; }
	#main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "article"
        "footer";
	}
	
}

*/


